{% extends "base-site.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title">Store Data</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Store
                </th>
                <th>
                  StoreType
                </th>
                <th>
                  Assortment
                </th>
                <th>
                  Competition Distance
                </th>
                <th class="text-center">
                  Sales
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  998
                </td>
                <td>
                  a
                </td>
                <td>
                  a
                </td>
                <td>
                  780.0
                </td>
                <td class="text-center">
                  4392€
                </td>
              </tr>
              <tr>
                <td>
                  923
                </td>
                <td>
                  a
                </td>
                <td>
                  a
                </td>
                <td>
                  280.0
                </td>
                <td class="text-center">
                  5495€
                </td>
              </tr>
              <tr>
                <td>
                 726
                </td>
                <td>
                  a
                </td>
                <td>
                  c
                </td>
                <td>
                  40540.0
                </td>
                <td class="text-center">
                  8407€
                </td>
              </tr>
              <tr>
                <td>
                  346
                 </td>
                 <td>
                   a
                 </td>
                 <td>
                   c
                 </td>
                 <td>
                  8090.0
                 </td>
                 <td class="text-center">
                  7714€
                 </td>
              </tr>
              <tr>
                <td>
                  643
                 </td>
                 <td>
                   a
                 </td>
                 <td>
                   c
                 </td>
                 <td>
                  230.0
                 </td>
                 <td class="text-center">
                  9141€
                 </td>
              </tr>
              <tr>
                <td>
                  1015
                 </td>
                 <td>
                  d
                 </td>
                 <td>
                   c
                 </td>
                 <td>
                  9910.0
                 </td>
                 <td class="text-center">
                  8340€
                 </td>
              </tr>
              <tr>
                <td>
                  945
                 </td>
                 <td>
                  a
                 </td>
                 <td>
                   c
                 </td>
                 <td>
                  12480.0
                 </td>
                 <td class="text-center">
                  2763€
                 </td>
              </tr>
              <tr>
                <td>
                  220
                 </td>
                 <td>
                  a
                 </td>
                 <td>
                   a
                 </td>
                 <td>
                  1000.0
                 </td>
                 <td class="text-center">
                  4710€
                 </td>
              </tr>
              <tr>
                <td>
                  856
                 </td>
                 <td>
                  a
                 </td>
                 <td>
                   a
                 </td>
                 <td>
                  3020.0
                 </td>
                 <td class="text-center">
                  7466€
                 </td>
              </tr>
              <tr>
                <td>
                  668
                 </td>
                 <td>
                  c 
                 </td>
                 <td>
                   a
                 </td>
                 <td>
                  1270.0
                 </td>
                 <td class="text-center">
                  8003€
                 </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card  card-plain">
      <div class="card-header">
        <h4 class="card-title">Distribution of Sale metric accross Store Types</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Store Type
                </th>
                <th>
                  Total count
                </th>
                <th class="text-center">
                  Average Sale
                </th>
                <th class="text-center">
                  Minimum Sale
                </th>
                <th class="text-center">
                  Maximum Sale
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  a
                </td>
                <td>
                  457042.0
                </td>
                <td class="text-center">
                  6925.69€
                </td>
                <td class="text-center">
                  46.0€
                </td>
                <td class="text-center">
                  41551.0€
                </td>
              </tr>
              <tr>
                <tr>
                  <td>
                    b 	
                  </td>
                  <td>
                    15560
                  </td>
                  <td class="text-center">
                    10233.38€
                  </td>
                  <td class="text-center">
                    1252.0€
                  </td>
                  <td class="text-center">
                    38722.0€
                  </td>
              </tr>
              <tr>
                <td>
                  c 	
                </td>
                <td>
                  112968
                </td>
                <td class="text-center">
                  6933.12€
                </td>
                <td class="text-center">
                  133.0€
                </td>
                <td class="text-center">
                  31448.0€
                </td>
              </tr>
              <tr>
                <td>
                  d	
                </td>
                <td>
                  258768
                </td>
                <td class="text-center">
                  6822.30€
                </td>
                <td class="text-center">
                  538.0€
                </td>
                <td class="text-center">
                  38037.0€
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
